{% extends '@admin/layout.twig' %}

{% block title "Creer l'article" %}

{% block body %}
    <div class="container-fluid">
        <div class="row" style="margin-top: 30px;">
            <h1>Ajouter un article</h1>
        </div>
        <form action="{{ path(routePrefix ~ '.create') }}" method="POST" enctype="multipart/form-data">
            {% include viewPath ~ '/form.twig' %}
            <button class="btn btn-primary" type="submit">Editer</button>
        </form>
    </div>
{% endblock body %}