{% extends '@admin/layout.twig' %}

{% block title "Editer l'article" %}

{% block body %}
<div class="container-fluid">
    <div class="row" style="margin-top: 30px;">
        <h1>Editer l'article {{ item.name }}</h1>
    </div>
    <form action="{{ path('blog.admin.edit', {id: item.id}) }}" method="POST">
        {% include '@blog/admin/form.twig' %}
        <button class="btn btn-primary" type="submit">Créer</button>
    </form>
</div>
{% endblock body %}