<li class="nav-item">
  <a href="{{ path('blog.admin.index') }}" class="nav-link {{ is_subpath('blog.admin.index') ? 'active' }}">Articles</a>
</li>
<li class="nav-item">
  <a href="{{ path('blog.category.admin.index') }}" class="nav-link {{ is_subpath('blog.category.admin.index') ? 'active' }}">Catégories</a>
</li>